#hotbar{
    padding: 10px;
    background-color: #ac3534;
    color: white;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.2);
}
#info{
    background-color: #ac3534;
    padding: 30px;
    text-align: center;
}
#cards{
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: #cfccc9;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 10px 5px 12px rgba(0, 0, 0, 0.139);
}
#szervek{
    padding: 10px;
    
}
#kártya{
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
}
#kártya:hover{
    box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.2);
}
img{
    margin: auto;
    height: 85%;
    width: 95%;
    border-radius: 25px;
}
body{
    background-image: url("img/bg.png");
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: stretch;
}
#login{
    text-align: center;
    font-size: 140%;
    padding-top: 15px;
    border: 3px solid white;
    border-radius: 30px;
    Box-shadow: 10 5px 5px rgba(0, 0, 0, 0.2);
}
#login>a{
    color: #dedede;
    padding-top: 10px;
    
}
a:hover{
    text-decoration: none;
}
body>div>div>div>ul{
    list-style: none;
}
body>div>div>div>ul>li{
    display: inline-block;
    margin-right: 80px;
    padding-top: 15px;
}
.hbutton{
    color: #dedede;
    text-transform: capitalize;
    font-family: 'Courier New';
    font-weight: bolder;
    font-size: 150%;
    text-shadow:  10px 2px 2px rgba(167, 100, 100, 0.2);
}
.hbutton:hover{
    color: #aaa2a2;
    text-decoration: none;
}
#loginpanel{
    margin: auto;
    margin-top: 100px;
    margin-bottom: 100px;
    width: 350px;
    height: 370px;
    background-color: #aaa2a2;
    border-radius: 10px;
    padding: 10px;
    padding-top: 40px;
    font-size: 120%;
    font-family: 'Courier New';
    font-weight: bolder;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.2);

}
#regpanel{
    margin: auto;
    margin-top: 100px;
    margin-bottom: 100px;
    width: 350px;
    height: 400px;
    background-color: darkgrey;
    border-radius: 10px;
    padding: 10px;
    font-size: 120%;
    font-family: 'Courier New';
    font-weight: bolder;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.2);
}
.textbox{
    width: 330px;
    margin-bottom: 5px;
    border-radius: 5px;
    box-shadow: 4px 4px 8px rgba(58, 43, 43, 0.4);
}
#rlbutton{
    margin-top: 20px;
    margin-left: 106px;
    margin-bottom: 20px;
    font-variant: small-caps;
    font-weight: bold;
    border-radius: 5px;
    background-color: rgba(237, 94, 94, 0.653);
    box-shadow: 2px 2px 8px rgba(58, 43, 43, 0.4);
}
#rlbutton:hover{
    background-color: rgb(190, 76, 76);
}
#fiokreg{
    text-align: center;
}
#reggomb{
  text-decoration: none;
}
#logo1{
    background-image: url("img/logo.png");
    background-size: 80%;
    background-repeat: no-repeat;
}
#elerhetoseg{
    text-decoration: underline;
}
#alja{
    color: rgb(255, 255, 255);
    border-radius: 5px; 
}
#map{
        margin: auto;
        size: 50%;
}
#elerhetoseg{
    margin: auto;
}
#addtocart{
  font-family: Arial;
  border-radius: 8px;
  background-color: lightskyblue;
  border: rgba(0, 0, 0, 0.4) solid 2px;
}
#addtocart:hover{
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.4);
  font-weight: bold;
}
#szerv{
    height: 100px;
    width: 100px;
}