#hotbar{
    padding: 10px;
    background-color: #c13434;
    color: white;
}
#info{
    background-color: #c13434;
    padding: 30px;
    text-align: center;
}
#cards{
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: darkgrey;
    padding: 20px;
    border-radius: 10px;
}
#szervek{
    padding: 10px;
}
#kártya{
    box-shadow: 5px 5px rgba(0, 0, 0, 0.2);
    border-radius: 25px;
}
img{
    margin: auto;
    height: 85%;
    width: 95%;
    border-radius: 25px;
}
body{
    background-image: url("img/bg.png");
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: stretch;
}
#login{
    text-align: right;
    font-size: 140%;
    padding-top: 15px;
}
#login>a{
    color: #808060;
    padding-top: 10px;
}
a:hover{
    text-decoration: none;
}
body>div>div>div>ul{
    list-style: none;
}
body>div>div>div>ul>li{
    display: inline-block;
    margin-right: 80px;
    padding-top: 15px;
}
.hbutton{
    color: #808060;
    text-transform: capitalize;
    font-family: 'Courier New';
    font-weight: bolder;
    font-size: 150%;
    text-shadow: 2px 2px rgba(0, 0, 0, 0.4);
}
.hbutton:hover{
    color: #808080;
    text-decoration: none;
}
#loginpanel{
    margin: auto;
    margin-top: 100px;
    margin-bottom: 100px;
    width: 350px;
    height: 370px;
    background-color: darkgrey;
    border-radius: 10px;
    padding: 10px;
    padding-top: 40px;
    font-size: 120%;
    font-family: 'Courier New';
    font-weight: bolder;
}
#regpanel{
    margin: auto;
    margin-top: 100px;
    margin-bottom: 100px;
    width: 350px;
    height: 400px;
    background-color: darkgrey;
    border-radius: 10px;
    padding: 10px;
    font-size: 120%;
    font-family: 'Courier New';
    font-weight: bolder;
}
.textbox{
    width: 330px;
    margin-bottom: 5px;
    border-radius: 5px;
    box-shadow: 2px 2px rgba(58, 43, 43, 0.4);
}
#rlbutton{
    margin-top: 20px;
    margin-left: 106px;
    margin-bottom: 20px;
    font-variant: small-caps;
    font-weight: bold;
    border-radius: 5px;
    background-color: lightskyblue;
}
#rlbutton:hover{
    background-color: rgb(76, 126, 190);
}
#fiokreg{
    text-align: center;
}